:root {
    --primary-color: #FF7A04;
}
body{
    background-color: #ffcea3;
    font-family: "Poppins";
}
.background{
    background-image: url("./assets/img/Background\ Rectengular.png");
    background-repeat: no-repeat ;
    background-position: right;
    background-size: contain;
}


.star {
    position: absolute;
    top: 160px;
    left: 195px;
}

.off {
    position: absolute;
    top: 210px;
    left: 236px;

}

.flex {
    height: 100dvh;
    display: flex;
}

.text-main-color {
    color: var(--primary-color);
}

.size{
    width: 560px;
}