:root {
    --primary-color: #FF7A04;
}

body {
    background-color: #ffcea3;
    font-family: "Poppins";
}

.star {
    position: absolute;
    top: 160px;
    left: 195px;
}

.off {
    position: absolute;
    top: 210px;
    left: 236px;

}

.flex {
    height: 100dvh;
    display: flex;
}

.text-main-color {
    color: var(--primary-color);
}
.product-card{
    background-image: url('../img/Rectangle\ 22.png');
    border-radius: 14px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 500px;
}


